@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

footer {
    background-color: #231f20;
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
}

.text-black {color: black !important;}
.initiales {padding-right: 15px;padding-left: 15px;font-family: 'Roboto Mono', monospace;}
.container-fuild {margin: 1em 2.5% 10em 2.5% !important;}
.bg-gray-100 {background-color: #edf2f7;}
.bg-gray-200 {background-color: #e2e8f0;}
